header.bg-lime-400.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-white.text-center Bienes
            span.font-normal Raíces
        
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="/mis-propiedades") Mis Propiedades
            a(href="/mi-perfil") Mi Perfil
            a(href="/auth/logout" class="bg-lime-500 py-2 px-10 rounded-lg uppercase") Cerrar Sesión