extends ../layout/index
    
block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-lime-400 Bienes
            span.font-normal.text-black Raíces 
        h2.text-center.text-2xl.font-normal.text-black= pagina

    .mt-8.mx-auto.max-w-xl.pb-5
        .bg-white.py-8.px-4.shadow-2xl.rounded-2xl
            //- Mensaje con fondo verde claro, borde y texto verde oscuro
            p.text-xl.font-bold.text-center.my-10.bg-green-100.text-green-700.border-l-4.border-green-500.p-4.uppercase= mensaje